<link rel="stylesheet" href="css/profile.css">
<div class="container-fluid">
    <div class="profile-pane">
            <div class="sidebar">
                <h1> My Account</h1>
                <ul>
                    <li id="viewInfoLink"><a href="/profile">Thông tin tài khoản</a></li>
                    <li id="viewSettingLink"  style="font-weight: 700;"><a href="/profile/setting" >Đổi mật khẩu</a></li>
                    <li><a href="/profile/product-watch-list">Sản phẩm</a></li>
                     <li id="Upgrade"><a href="/profile/upgrade">Nâng cấp tài khoản</a></li>
                </ul>
            </div>
            <div class="info-pane m-5" id="infoAccount">
                <form method="POST">
                    <div class="form-group">
                      <label class = "d-inline" for="currentPassword">Mật khẩu hiện tại</label>
                      <input type="password" name="currentPassword" id="currentPassword" class="form-control border rounded" placeholder="" aria-describedby="helpId">
        
                    </div>
                    <div class="form-group">
                      <label class = "d-inline" for="newPassword">Mật khẩu mới</label>
                      <input type="password" name="newPassword" id="newPassword" class="form-control border rounded" placeholder="" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">Mật khẩu chứa ít nhất 8 ký tự</small>
                    </div>
                    <div class="form-group">
                      <label class = "d-inline" for="confirmPassword">Nhập lại mật khẩu</label>
                      <input type="password" name="confirmPassword" id="confirmPassword" class="form-control border rounded" placeholder="" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">Mật khẩu chứa ít nhất 8 ký tự</small>
                    </div>
                     <button class="buttonEdit" id="editbtn" type="submit">Đổi mật khẩu</button>
                </form>
               
            </div>
    </div>
</div>
