{{#section 'title'}}
	<title>Forgot Password</title>
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="css/signIn.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{{/section}}

{{#section 'js'}}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/forgetPassword.js"></script>
{{/section}}

<div class="signin-content">
    <div class="signin-image">
        <a href="/"><img src="images/signIn.jpg" alt="sing up image"></a>
        <a href="/account/login" class="signup-image-link">Bạn muốn đăng nhập?</a>
    </div>
    <div class="signin-form">
        <h2 class="form-title">Quên mật khẩu?</h2>
        <form method="POST" class="forgetPassword-form" id="forgetPassword-form">
            <div class="form-group">
                <p>
                Xin hãy nhập địa chỉ email, bạn sẽ nhận được một đường link để đặt lại mật khẩu.
                </p>
            </div>
            <div class="form-group">
                <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="email" id="email" placeholder="Tài khoản (Email)" required/>
            </div>
            <div class="form-btn form-group">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Xác nhận"/>
            </div>
        </form>
    </div>
</div>