{{#section 'title'}}
	<title>Get Password</title>
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="css/signIn.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{{/section}}

{{#section 'js'}}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/retrievePassword.js"></script>
{{/section}}

<div class="signin-content">
    <div class="signin-image">
        <a href="/"><img src="images/signIn.jpg" alt="sing up image"></a>
        <a href="/account/login" class="signup-image-link">Bạn muốn đăng nhập?</a>
    </div>
    <div class="signin-form">
        <h2 class="form-title">Quên mật khẩu?</h2>
        <form method="POST" class="retrieve-form" id="retrieve-form">
            <div class="form-group">
                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                <input type="password" name="password" id="password" placeholder="Mật khẩu" required/>
            </div>
            <div class="form-group">
                <label for="confirmpassword"><i class="zmdi zmdi-lock-outline"></i></label>
                <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Xác nhận lại mật khẩu" required/>
            </div>
            <div class="form-btn form-group">
                <input type="submit" name="signin" id="signin" class="form-submit" value="Xác nhận"/>
            </div>
        </form>
    </div>
</div>