<!DOCTYPE html>
<html>

    <head>
        <title>Auction Website</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/mainStyle.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    </head>

    <body>
        <div>
            <nav class="sticky-top">
                <div id="headerBar">
                    <div id="logoContainer">
                        <a class="navbar-brand" href="/">
                            <img id="logo" src="images/logo.png">
                            <span id="line"></span>
                            <span id="phasamique">Phasamique</span>
                        </a>
                    </div>
                    <div id="searchContainer">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Tìm kiếm" name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div id="rightContainer">
                        <a id="signIn" href="/login">
                            Đăng nhập
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        {{{body}}}
        <div class="footerContainer">
            <footer class="justify-content-center">
                <div class="footer-copyright text-center footer">
                    <div class="introduction" >
                        <div>
                            <span id="phasamique"><b>Phasamique</b></span> là một trang web đấu giá được thực hiện bởi nhóm 1.
                        </div>
                        <div>
                            Đây là đồ án cuối kỳ của môn học nhập môn lập trình web của trường đại học<br>
                            Khoa Học Tự Nhiên Thành phố Hồ Chí Minh.
                        </div>
                    </div>
                    <div class="co2">
                        <div><b>Nhóm phát triển:</b></div>
                        <div class="c2r2">
                            <div class="row1">
                                <a href="https://www.facebook.com/tdwctu">Ngô Văn Phát</a>
                                <a href="https://www.facebook.com/sangphung30599">Phùng Thanh Sang</a>
                            </div>
                            <div class="row2">
                                <a href="https://www.facebook.com/profile.php?id=100009972948255">Trương Nhật Minh</a>
                                <a href="https://www.facebook.com/minh.wan.188">Lê Minh Quân</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    &copy; 2019 Copyright: <a href="#"> WebTeam </a>
                </div>
            </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></br>
    </body>
</html>
