<!DOCTYPE html>
<html>

    <head>
        <title>Auction Website</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/default.css">
    </head>

    <body>
        <div id='container'>

            <div>
                <div id='headerBar'>
                   <div>
                       <a href="/"><img id="logo" src="images/logo.jpg"></a>
                   </div>
                </div>
            </div>

        </div>

        {{{body}}}

    </body>

</html>
