{{#section 'css'}}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/8diax854jgwl4q64zdvah1ikycuzxz0kbs2wuccu25yx1eo8/tinymce/5/tinymce.min.js"></script>
<script>tinymce.init({selector:'textarea'});</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script>
      $("#input-b1").fileinput({
        theme: 'fa',
        allowedFileExtensions: ['png','jpg','gif'],
      });
</script>
{{/section}}
<div class="container-fluid">
  <form method="POST" enctype="multipart/form-data">
    <div class="row ml-2">
        
        <div class="col-md-8">
                <div class="form-group">
                <label for="input-b1">Ảnh vật phẩm</label>
                <div class="file-loading">
                <input id="input-b1" name="input-b1" type="file" class="file" data-browse-on-zone-click="true" multiple required>
                </div>
                </div> 
                <div class="form-group">
                    <label for="describeProduct">Mô tả sản phẩm</label>
                    <textarea name="describeProduct" id="describeProduct" cols="30" rows="10" required>
                        
                    </textarea>
                </div>               

        </div>  
         <div class="col-md-4">
            <div class="form-group">
              <label for="name">Tên sản phẩm</label>
              <input type="text" name="productName" id="name" class="form-control" required> 
            </div>
             <div class="form-group">
              <label for="startPrice">Giá khởi điểm</label>
              <input type="text" name="priceCurrent" id="startPrice" class="form-control" required>
            </div>
             <div class="form-group">
              <label for="stepPrice">Bước giá</label>
              <input type="text" name="stepPrice" id="stepPrice" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="immediatePrice">Giá mua ngay</label>
              <input type="text" name="price" id="immediatePrice" class="form-control">
            </div>
            <div class="form-group">
            <label for="CatID">Danh mục</label>
            <select class="form-control" id="CatID" name="category">
              {{#each this.categories}}
              <option>{{catName}}</option>
              {{/each}}
              </select>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="autoExtention" name="autoExtention">
              <label class="custom-control-label" for="autoExtention">Tự động gia hạn</label>
            </div>
            <div class="from-group d-flex justify-content-center align-content-center h-25 mt-5">
            <button type="submit" class="btn btn-outline-success btn-block w-100 h-100">
                <i class="fa fa-paper-plane"></i>
                Đăng bán</button>
            </div>
        </div>

    </div>

        </form>
</div>
<!-- loading script-->
