<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		Email thông báo cập nhập bước giá của sản phẩm. 
	</title>
</head>
<body>
	<h4>Xin chào {{fullname}}!</h4>
	<br>
	<p>Phasamique gửi cho bạn thông tin cập nhật về sản phẩm {{product name}}</p>
	<p>&nbsp;&nbsp;&nbsp;_ Tên sản phẩm: {{product name}}.</p>
	<p>&nbsp;&nbsp;&nbsp;_  Người ra giá: {{bidder}}.</p>
	<p>&nbsp;&nbsp;&nbsp;_ Bước giá hiện tại: {{product current bid}}.</p> 
	<p>&nbsp;&nbsp;&nbsp;_ Thời gian kết thúc: {{deadline}}.</p>
	<br>
	<p>Nếu như bạn còn những thắc mắc cần giải đáp, hãy liên hệ với chúng tôi qua email hoặc số điện thoại 000 000 0000. </p>
</body>
</html>