<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		Email xác nhận đăng ký tài khoản của Phasamique. 
	</title>
</head>
<body>
	<h4>Xin chào !</h4>
	<br>
	<p>Chào mừng bạn đến với Phasamique.</p>
	<p>Tên tài khoản của bạn là: <b>{{fullname}}</b></p>
	<p>Để xác nhận tài khoản, vui lòng nhấp vào đường link: <a href="{{confirm url">{{confirm url}}</a></p>
	<p>Sau khi đã đăng nhập vào trang web, bạn sẽ được quyền thực hiện các thao tác sau: </p>
	<p>&nbsp;&nbsp;&nbsp;_ Ra giá cho sản phẩm bạn yêu thích.</p>
	<p>&nbsp;&nbsp;&nbsp;_ Quản lý những mốn hàng bạn đã ra giá.</p>
	<p>&nbsp;&nbsp;&nbsp;_ Quản lý những món hàng bạn đã mua được.</p>
	<p>&nbsp;&nbsp;&nbsp;_ Thay đổi thông tin tài khoản.</p>
	<br>
	<p>Nếu như bạn còn những thắc mắc cần giải đáp, hãy liên hệ với chúng tôi qua email hoặc số điện thoại 000 000 0000. </p>
	<p>Xin cảm ơn và chào mừng bạn đến với <b>PHASAMIQUE.</b></p>
</body>
</html>