<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.flex-container {
			display: flex;
		}
	</style>
</head>
<body>
<div class="alert alert-dark" role="alert">
  <h4 class="alert-heading" align="center">THỊ TRƯỜNG GIAO DỊCH HÀNG HOÁ ONLINE</h4>
  Phasamique là 1 thị trường giao dịch hàng điện tử trực tuyến ở Việt Nam - thông qua hình thức đấu giá. Người mua đặt bước giá, người bán ra mức giá, khi bước giá tăng lên bằng mức giá thì giao dịch được thực hiện tự động. Sản phẩm đến từ Apple, Samsung, Sony và nhiều hơn thế - đều được thông qua xác thực nghiêm ngặt trước khi lên sàn.  
</div>
<div class="alert role="alert">
	<h4 class="alert-heading" align="center" style="color: black">NỀN TẢNG</h4>
	<div class="flex-container">
 	<div class="card w-50" style="background-color: orange">
  		<div class="card-header" align="center" style="color: white">Bảo mật</div>
  		<div class="card-body" style="color: white">Không cần bận tâm về việc xác thực danh tính người bán và người mua - Phasamique sẽ bảo đảm vấn đề này.</div>
  	</div>
  	<div class="card w-50" style="background-color: green">
  		<div class="card-header" align="center" style="color: white">Minh bạch</div>
  		<div class="card-body" style="color: white">Nền tảng thông minh cung cấp dịch vụ mua bán dựa trên dữ liệu thời gian thực.</div>
  	</div>
  	<div class="card w-50" style="background-color: blue">
  		<div class="card-header" align="center" style="color: white">Minh bạch</div>
  		<div class="card-body" style="color: white">Nền tảng thông minh cung cấp dịch vụ mua bán dựa trên dữ liệu thời gian thực.</div>
  	</div>
  </div>
</div>
<div class="alert alert-primary" role="alert">
	<h4 class="alert-heading" align="center">RA GIÁ TRÊN PHASAMIQUE</h4>
	<h5>ĐẶT BƯỚC GIÁ (MUA)</h5>
	<P>Với mỗi sản phẩm yêu thích, bạn có thể đặt ngay mức giá phú hợp để tiến hành đấu giá.</P>
	<br>
	<h5>NHẬN THÔNG BÁO</h5>
	<p>Nếu thao tác đặt bước giá thành công, bạn sẽ nhân được email xác nhận.</p>
	<br>
	<h5>THANH TOÁN</h5>
	<p>Việc thanh toán không còn là khó khăn khi bạn có thể giao dịch qua nhiều phương thức: PAYPAL, i-Banking, tiền mặt.</p>
  </div>
</div>
<div class="alert alert-warning" role="alert">
	<h4 class="alert-heading" align="center">ĐĂNG BÁN TRÊN PHASAMIQUE</h4>
	<h5>RA GIÁ (BÁN)</h5>
	<P>Đưa một mặt hàng muốn bán với giá phù hợp với thị trường.</P>
	<br>
	<h5>NHẬN THÔNG BÁO</h5>
	<p>Nếu phiên đấu giá mặt hàng của bạn kết thúc, bạn sẽ nhân được email xác nhận.</p>
	<br>
	<h5>ĐỐI SOÁT</h5>
	<p>Bạn có thể thống nhất phương thức thanh toán giao dịch với người mua một cách dễ dàng.</p>
  </div>
</div>
</body>
</html>