 <div class="profile-pane">
            <div class="sidebar">
                <h1> My Account</h1>
                <ul>
                    <li><a href="#">Thông tin tài khoản</a></li>
                    <li><a href="#">Cài đặt</a href="#"></li>
                    <li><a href="#">Sản phẩm</a href="#"></li>
                </ul>
            </div>
            <div class="info-pane">

                <h1>Hello Phát</h1>
                <form method="POST">
                    <div class="form-group">
                        <label for="name">Họ và Tên </label>
                        <input type="text" name="name" id="name" value="Ngô Văn Phát" readonly/>
                        <a href="#">Chỉnh sửa</a>
            </div>
            <div class="form-group">
                <label for="gender">Giới tính </label>
                <input type="text" name="name" id="name" value="Nam" readonly/>
                <a href="#">Chỉnh sửa</a>
            </div>
            <div class="form-group">
                <label for="birthday">Ngày sinh </label>
                <input id="name" name="birthday" required="" type="text" value="22/09/1999" readonly>
                <a href="#">Chỉnh sửa</a>
            </div>
            <div class="form-group">
                <label for="address">Địa chỉ </label>
                <input type="text" name="address" id="address" value="Quận 8, Thành Phố Hồ Chí Minh" readonly />
                <a href="#">Chỉnh sửa</a>
            </div>
            <div class="form-group">
                <label for="email">Email </label>
                <input type="email" name="email" id="email" value="1753082@student.hcmus.edu.vn" readonly />
                <a href="#">Chỉnh sửa</a>
            </div>
            <div class="form-group">
                <label for="pass">Mật khẩu </label>
                <input type="password" name="pass" id="pass" value="**************" readonly/>
                <a href="#">Chỉnh sửa</a>
            </div>

        </div>
        </form>
    </div>
    </div>