
    <div class="container-fluid">
        <div class="row">
            <div class="co1-md-4 ml-4 mt-3">
                <ul class="list-group">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-light">
                            Danh mục sản phẩm 
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                        	<a href="/phone-list" >
                        		<button type="button" class="btn btn-dark"> Điện thoại di động</button>
                            	<span class="badge badge-dark badge-pill">14</span>
                        	</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                           <a href="/tablet-list">
                        		<button type="button" class="btn btn-dark"> Máy tính bảng</button>
                            	<span class="badge badge-dark badge-pill">2</span>
                        	</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="/laptop-list">
                        		<button type="button" class="btn btn-dark"> Máy tính xách tay</button>
                            	<span class="badge badge-dark badge-pill">16</span>
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="col mt-3">
                <nav>
                    <div class="jumbotron jumbotron-fluid p-1 m-1" style="background-color: white;">
                        <div class="container">
                            <h2 class="display-6">Máy tính bảng</h2> 
                            <h5 class="text-secondary">2 kết quả</h5> 
                        </div>
                        <div class="container">
                            <div class="dropdown">
                                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sắp xếp
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Giá tăng dần</a>
                                    <a class="dropdown-item" href="#">Giá giảm dần</a>
                                    <a class="dropdown-item" href="#">Thời gian kết thúc tăng dần</a>
                                    <a class="dropdown-item" href="#">Thời gian kết thúc giảm dần</a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" style="display: flex;">
                                <div class="col-md-3 mt-2 mb-3">
                                    <div class="card" style="height: 28rem;" style="width: 15rem;">
                   						<img src="images/ipadpro.jpeg" height="250" class="card-img-top" alt="...">
                    					<div class="card-body">
                   							<p class="card-text"><b>Apple iPad Pro 11" 256GB</b>
                                                <br><small>Giá mua ngay: <b>21.000.000đ</b>
                                                <br>Giá hiện tại: <b>18.650.000đ</b>
                                                <br>Ra giá bởi: <b>{{Bidder}}</b>
                                                <br>Ngày đăng: <b>{{Date}}</b>
                                                <br>Thời gian còn lại: <b>10:30:57</b>
                                                <br>Số lượt ra giá hiện tại: <b>10</b></small>
                                            </p>
                  						</div>
                 					</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination float-right mr-3">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
