<!DOCTYPE html>
<html>

<head>
    <title>Auction Website</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet"/>
</head>

<body>
        <div class="container mt-5 mb-5">
            <div class="owlCar owl-theme">
                <div class="ml-2 mr-2" style="background-color: #ddd">1</div>
                <div class="ml-2 mr-2" style="background-color: #ddd">1</div>
                <div class="ml-2 mr-2" style="background-color: #ddd">1</div>
            </div>
        </div>
</body>

</html>