.bodyContainer{
    background-color: #FAFAFA;
}

body{
    background-color: #FAFAFA;
}

.headerBarContainer{
    background-color: #FAFAFA !important;
    height: 77px;
    width: 100%;
}

#headerBar{
    background-color: #FFFFFF;
    border-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px 0px 120px;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    margin-bottom: 30px;
}

#headerBar input[type=text] {
    font-size: 17px;
    border: none;
  }
  
#headerBar #searchContainer button {
    float: right;
    background: #FAFAFA;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
 
#headerBar #searchContainer button:hover {
    background: #ccc;
}

#headerBar div{
    display: flex;
    align-items: center;
}

#headerBar #logoContainer{
    justify-content: flex-start;
    width: auto;
}

#headerBar #logoContainer a{
    vertical-align: middle;
}

#headerBar #searchContainer {
    flex-direction: column;
    align-self: center;
}

#headerBar #rightContainer{
    justify-content: flex-end;
}

#headerBar form{
    display: table; 
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}

#headerBar #signIn{
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}


#logo{
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    margin-top: -4px;
}

#phasamique {
    z-index: 2;
    font-family: "Dancing Script";
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}

#logoContainer a #phasamique{
    width: 162px;
    height: 48px;
    margin-left: 2px;
    margin-top: 3px;
}

#line {
    z-index: 2;
    height: 70px;
    width: 1px;
    border: 1px solid black;
    margin: 0px 5px 0px 5px;
    padding: 1px 0px 3px 0px;
}

.footerContainer{
    margin-top: 30px;
    background-color: #EEEEF0;
    padding: 30px 50px 30px 50px;
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer .introduction #phasamique{
    font-weight: normal;
    font-size: 20px;
}
.footer .introduction{
    font-weight: normal;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.footer .introduction div{
    display: inline-block;
}

.footer div{
    background-color: #EEEEF0;
    text-align: justify;
    vertical-align: center;
    display: flex;
}

.footer .co2{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footer .co2 .c2r2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .co2 .c2r2 .row1{
    display: flex;
    flex-direction: column;
}
.footer .co2 .c2r2 .row2{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}