* {
    padding: 0;
    margin: 0;
}

.bodyContainer {
    margin-top: 100px;
}

body {
    background-color: #FAFAFA;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.headerBarContainer {
    height: 77px;
    width: 100%;
}

#headerBar {
    background-color: #FFFFFF;
    border-color: #000000;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    display: flex;
    white-space: nowrap;
    align-items: center;
}

#centerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 50px;
    width: 100%;
}

#centerContainer input[type=text] {
    font-size: 17px !important;
    border: none !important;
    line-height: 1.5 !important;
    padding: 0px !important;
    font-family: inherit !important;
    font-weight: 400 !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

#centerContainer #searchContainer button {
    float: right;
    background: #FAFAFA;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#centerContainer #searchContainer button:hover {
    background: #ccc;
}

#centerContainer div {
    display: flex;
    align-items: center;
    white-space: nowrap
}

#centerContainer #logoContainer {
    justify-content: flex-start;
    align-self: center;
    width: auto;
}

#centerContainer #logoContainer a {
    vertical-align: middle;
    display: flex;
    align-items: center;
}

#centerContainer #searchContainer {
    justify-content: center !important;
    align-self: center !important;
    width: auto !important;
}

#centerContainer #rightContainer {
    justify-content: flex-end !important;
    width: auto !important;
    margin-right: 50px;
    padding-left: 60px;
}

#centerContainer form {
    display: flex !important;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    width: auto !important;
    white-space: nowrap !important;
    margin: 0 !important;
}

#centerContainer form input {
    width: auto !important;
    height: auto !important;
    margin: 0.5px 0px 0.5px 3px !important;
    vertical-align: middle;
}

#centerContainer form input:focus {
    outline: none !important;
}

#centerContainer #signIn {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#logo {
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    /* margin-top: -4px; */
}

#phasamique {
    font-family: "Dancing Script";
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}

#logoContainer a #phasamique {
    width: 162px;
    height: 48px;
    /* margin-left: 2px;
    margin-top: 3px; */
}

#line {
    z-index: 2;
    height: 35px;
    width: 1px;
    border: 1px solid black;
    margin: 0px 10px 0px 10px;
}

.footerContainer {
    margin-top: 30px;
    background-color: #EEEEF0;
    padding: 30px 50px 30px 50px;
    text-align: center;
}

.footer .introduction #phasamique {
    font-weight: normal;
    font-size: 20px;
}

.footer .introduction {
    font-weight: normal;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.footer .introduction div {
    display: inline-block;
}

.footer div {
    background-color: #EEEEF0;
    text-align: justify;
    vertical-align: center;
    display: flex;
    flex-direction: row;
}

.footer .co2 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footer .co2 .c2r2 {
    display: flex;
    flex-direction: row;
}

.footer .co2 .c2r2 .row1 {
    display: flex;
    flex-direction: column;
}

.footer .co2 .c2r2 .row2 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer {
    display: flex;
    white-space: nowrap;
}

.btnHoverContainer .btn {
    background-color: #FAFAFA;
    text-align: center;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    width: 35px;
    height: 35px;
    padding: 0px;
}

.dropdown-toggle::after {
    margin-left: 0px;
}

.btnHoverContainer {
    margin-left: 15px;
    vertical-align: middle;
}


/* .dropdown {
    position: relative;
    display: inline-block;
  } */

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
}

.about {
    background-color: #f1f1f1;
}

.menuDDT {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 100px;
    z-index: 1;
    order: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 5px 25px;
    text-decoration: none;
    display: block;
}

.copyright {
    margin-top: 20px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.btnHoverContainer:hover {
    display: flex;
    align-self: flex-end;
}

.btnHoverContainer:hover .btn {
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(var(--b6a, 255, 255, 255), 1);
    display: block;
    margin-bottom: 1px;
}

.btnHoverContainer:hover .dropdown-content {
    border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    display: block;
    margin-top: 35.5px;
}

.btnHoverContainer:hover .dropdown-toggle::after {
    vertical-align: bottom;
}

div .row {
    white-space: nowrap;
}

.dropdown-sp {
    display: none;
    background-color: #f1f1f1;
}

.btnsp {
    border: none;
    display: flex;
    background-color: #f1f1f1;
}

.btnsp:hover .dropdown-sp {
    display: flex;
    border-left: 1px solid rgba(var(--b6a, 0, 0, 0), 1);
}