.time {
	padding-bottom: 88px;
}


.smallUpperHeader {
	margin-bottom: 10px;

	font-size: 11px;
	font-family: 'Open Sans';
	text-transform: uppercase;
	color: #A5A5A6;
	letter-spacing: 0.2px;
	display: block;

	margin: 0;
	padding: 0;
	border: 0;

	vertical-align: baseline;
	
	box-sizing: inherit;
}

.placeBidTxt {
	padding-top: 25px;
	padding-bottom: 15px;
}

.bidding_box_fancy .CustomSelect {
    cursor: pointer;
	/*display: inline-flex;*/
}

.CustomSelect {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #027CA5;
    font-weight: 600;
    border: 1px solid #dee2e6;
    padding: 8px;
    border-radius: 8px;
    transition: none;
    box-sizing: border-box;
    text-align: center;
    height: 45px;
    width: 150px;
}

.BidValue {
	margin-right: 100px;
}


.product-bidding {
	font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #dee2e6;
    height: 45px;
    width: 150px;
}
.service_charge {
	font-size: 11px;
	padding-top: 10px;
	padding-left: 8px;

}

.thumbnail {
	width: 360px;
}


.product-name {
	font-size: x-large;
	padding-bottom: 15px;
}

.check-product {
	font-size: large;
	padding-top: 15px;

}

.productTitle{
	padding-bottom: 10px; 
	padding-top: 30px;
}

.product-image {
	padding-top: 10px;
	padding-bottom: 20px;
}

.relative {
	padding: 20px 0 20px 25px;
}
 
div.image-thumbnails {
	display: inline-flex;
	padding-top: 20px;
}