<div class="card">
    <div class="card-header">
        New Categories
    </div>

    <div class="card-body">
        <form action="" method="post">
        <div class="form-group">
          <label for="txtCatName">Category</label>
          <input type="text" class="form-control" name="CatName" id="txtCatName" autofocus>
        </div>
        <a class="btn btn-outline-primary" href="/admin/categories" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            List
        </a>
        <button type="submit" class="btn btn-outline-success">
           <i class="fa fa-check" aria-hidden="true"></i>
            Save
        </button>
        </form>
    </div>
   
</div>